h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

#cart {
    display: flex;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.column {
    width: 18%;
    padding: 25px 0px;
}

#images img {
    display: block;
    height: 100px;
    width: auto;
    margin: 20px;
}
#images{
    background-color:#F8F3D3;
}

#songs p {
    font-size: 18px;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
}
#songs{
    background-color:#80AF9C;
}

#artists p {
    font-size: 18px;
    height: 100px;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
}
#artists{
    background-color:#E86618;
}

#lengths p {
    font-size: 16px;
    color:white;
    height: 100px;
    margin: 20px;
    text-align: right;
    font-family: 'Raleway', sans-serif;
}
#lengths{
    background-color:#315160;
}

#links a {
    display: block;
    font-size: 18px;
    color:white;
    height: 100px;
    font-weight: bold;
    margin: 20px;
    font-family: 'Raleway', sans-serif;
}
#links{
    background-color:#203B45;
}

#form {
    width: 75%;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}
body{
    font-family: 'Raleway', sans-serif;
}